body{
    padding: 0;
    margin: 0;
    color: white;
}


.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 65, 70);
    height: fit-content;
    width: 100%;


}

.taskbar .logo{
    background-color: #ffffff;
    color: rgb(78, 54, 212);
    border: 3px solid rgb(78, 54, 212);
    padding: 5px;
    border-radius: 6px;
    justify-self: center;
    font-weight: bold;
    font-size: 15px;
}

.container .header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #646262;
}

.header-links .box{
    font-size: 15px;
    border: 3px solid rgb(78, 54, 212);
    background-color: #ffffff;
    color: rgb(78, 54, 212);
    border-radius: 6px;
    padding: 3px;
    font-weight: bold;
}

.container .taskbar{
    display: flex;
    flex-direction: row;
    background-color: #646262;
    height:fit-content;

    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    padding-top: 10px;
    padding-bottom: 3px;
}



.taskbar div{
    background-color: rgb(65, 65, 70);
    font-size: 20px;
    text-align: center;
    margin-bottom: 7px;
}

.textbox{
    display: flex;
    width: 33%;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgb(78, 54, 212);
    padding: 16px;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    
}

.text.title{
    font-weight: bold;
    font-size: 30px;
}

.text{
    font-size: 18px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #646262;
    padding: 3rem;
    padding-left: 10%;
    padding-right: 10%;
}


.button{
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color: rgb(78, 54, 212);
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
}

.house.image{
    width: 500px;
    height: auto;
}


.collage{
    background-color: rgb(78, 54, 212);
    padding-left: 20%;
    padding-right: 20%;

}

.collage .title{
    background-color: rgb(78, 54, 212);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: 20px;

}

.collage .picture-box.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(78, 54, 212);
}

.picture-box.container .individual-box{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(78, 54, 212);
    width: fit-content;
}

.picture{
    background-color: rgb(78, 54, 212);
    display: flex;
    width: 175px;
    height: 200px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.subheading{
    display: flex;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
}


